body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #24282C;
}

a:hover {
    color: black;
}

nav a{
    margin-left: 30px;
}

header form {
    padding-right: 30px;
    gap: 20px;
}

.book-card {
    text-decoration: none;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.book-card h5,
.book-card h3,
.book-card p {
    margin: 10px 0;
}

.book-card img {
    width: 150px;
    height: 200px;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.book-container {
     display: grid;
     padding: 40px 0 20px 0;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     gap: 4rem;
}

.book-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.book-im {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.book-description {
    width: 60%;
    word-wrap: break-word;
    text-align: center;
}

.book-detail-info {
    display: flex;
    margin: 40px 0;
    column-gap: 70px;
    align-items: center;
    justify-content: center;
}


.comment {
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.comment p {
     word-wrap: break-word;
}


.button {
      background-color: #6fa4e9;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
      text-align: center;
}

.button:hover {
      background-color: navy;
      color: white;
}

button {
      font-size: 15px;
      font-family: "Times New Roman";
      text-decoration: underline;
}

.abs-det {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    bottom: 40%;
    right: 30px;
}

.abs-lst {
    position: absolute;
    bottom: 10%;
    right: 30px;
}
